---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Media } from 'accessible-astro-components'
import { Image } from 'astro:assets'
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const albums = await getCollection("albums");

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });

  return paths;
}

export async function getAlbumImages(albumId: string) {
    let images = import.meta.glob<{ default: ImageMetadata }>(
        "/src/content/albums/**/*.{jpeg,jpg,png}"
    );
  
    images = Object.fromEntries(
      Object.entries(images).filter(([key]) => key.includes(albumId))
    );
  
    const resolvedImages = await Promise.all(
      Object.values(images).map((image) => image().then((mod) => mod.default))
    );

    resolvedImages.sort(() => Math.random() - 0.5);
    return resolvedImages;
  }

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---

<DefaultLayout title={album.data.title}>
    <PageHeader
        title={album.data.title}
        subtitle={album.data.description}
      />
    <section class="mt-5 mb-12">
      <div class="container">
        <div class="text-center my-16 mb-32">
            <div class="mx-auto container my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5">
            {
                images.map((image) => (
                <Media
                    src={image.src}
                    alt={`Foto aus ${album.data.title} Album`}
                    ratio="auto"
                    loading="lazy"
                />
                ))
            }
            </div>
        </div>
      </div>
    </section>
    <section>
        <div class="container">
            <div class="text-center my-16 mb-32">
                <a class="button" href="/gallery">Hier geht's zurück zur Galerie.</a>
            </div>
        </div>
    </section>
  </DefaultLayout>