---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Card, Pagination } from 'accessible-astro-components'
import type { PaginateFunction, Page } from 'astro'
import { getCollection } from "astro:content";



export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const posts = await getCollection("posts");

  const postsWithImages = posts.slice(0, 30).map((post) => {
    
    return {
      ...post,
      cover: post.data.cover,
      title: post.data.title.split(' ').slice(0, 4).join(' '),
      description: post.data.description,
      url: post.data.title.split(' ').slice(0, 4).join(' ').replaceAll(' ', '-').toLowerCase(),
    }
  })

  return paginate(postsWithImages, { pageSize: 6 })
}

export async function getCover(albumId: string) {
    const images = await (await Astro.glob("/src/content/posts/*.{jpeg,jpg,png}")).filter((key)).(files => {
      return files.map(file => file.default);
    });
  
    images = Object.fromEntries(
      Object.entries(images).filter(([key]) => key.includes(albumId))
    );
  
    const resolvedImages = await Promise.all(
      Object.values(images).map((image) => image().then((mod) => mod.default))
    );

    resolvedImages.sort(() => Math.random() - 0.5);
    return resolvedImages;
  }


const { page } = Astro.props;
---

<DefaultLayout
  title="Blog">
  <PageHeader
    title="Blog"
    subtitle='Hier ist der Blog der Fachberatung mit interessanten Eindrücken aus dem Kleingartenwesen sowie hilfreichen Tipps.'
  />

  <section class="my-12">
    <div class="container">
      <p class="text-sm"><em>{page.start + 1} bis {page.end + 1} von {page.total} Posts.</em></p>
      <ul class="my-3 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {
          page.data.map((item) => (
            <li>
              <Card
                imageComponent={item.cover}
                url={'/blog/' + item.url}
                title={item.title}
              >
                {item.description}
              </Card>
            </li>
          ))
        }
      </ul>
      <div class="mt-12 grid place-content-center">
        <Pagination
          firstPage={page.url.prev ? '/blog' : null}
          previousPage={page.url.prev ? page.url.prev : null}
          nextPage={page.url.next ? page.url.next : null}
          lastPage={page.url.next ? `/blog/${Math.ceil(page.total / page.size)}` : null}
          currentPage={`${page.currentPage}`}
          totalPages={`${Math.ceil(page.total / page.size)}`}
          ariaLabel="Blog Pagination"
        />
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss" is:global>
  @use '../../assets/scss/base/mixins' as *;

  .card {
    h3 {
      margin-block-end: var(--space-xs);
      line-height: 0.75;
    }

    a {
      @include text-decoration(transparent, var(--foreground-color), 4px, 2px);
    }
  }
</style>
