---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const blog = await getCollection("blog");

  return blog.map((item) => {

    const post = {
      ...item,
      title: item.data.title.split(' ').slice(0, 4).join(' '),
      excerpt: item.data.excerpt,
      cover: item.data.cover,
      author: {name: item.data.author_name, image: item.data.author_image, biography: item.data.author_biography}
    }

    return {
      params: { post: post.data.title.split(' ').slice(0, 4).join(' ').replaceAll(' ', '-').toLowerCase() },
      props: { post },
    }
  })
}

const { post } = Astro.props
const { Content } = await render(post)
---

<DefaultLayout title={post.title} description={post.body} url={post.title}>
  <PageHeader
    title={post.title}
    subtitle={post.excerpt}
    author={post.author}
  />
  <section class="my-12">
    <div class="narrow container">
      <Content />
    </div>
  </section>
  <section class="my-12">
    <div class="narrow space-content container">
     
  </section>
</DefaultLayout>
