---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { getCollection, getEntry } from "astro:content";
import { Icon } from 'astro-icon/components'
import { Accordion, AccordionItem, Card } from 'accessible-astro-components'
import { Image, getImage } from 'astro:assets'

import img_default from '@images/mitch-gaiser-IkiaJW5sA9k-unsplash.jpg'
const images = import.meta.glob<{ default: ImageMetadata }>('/src/content/images/*/*')

const data = await fetch("https://opensheet.elk.sh/19ZpR0tDDIygHf2JtfKnFc6NznlwljL05erhcrY0ePUs/FREIE_GAERTEN").then((response) => response.json());
console.log("w"+ data);
---
<DefaultLayout title="Freie Gärten">
  <PageHeader
      title="Freie Gärten"
      subtitle="Hier finden sich aktuelle freie Gärten."
    />
    <section class="mt-5 mb-12"> 
      <div class="container flex flex-col gap-10 md:justify-left">
        {!data.length && <h4>Aktuell keine freien Gärten.</h4>}
        {data.map(async (garden:any) => { 
          const _images = await Promise.all(
                      Object.values(Object.fromEntries(Object.entries(images).filter(([key]) => key.includes(garden.ADDRESS.replace(' ', '_'))))
                      ).map((image) => image().then((mod) => mod.default)));
          return (
            <Card 
            title={garden.ADDRESS} 
            imageComponent={_images.length > 0 ? _images[0] : img_default}
            url="javascript: void(0)"
            >
              <span slot="meta">
                  <Icon name="lucide:flower-2" />
                  Kleingärtnerverein Krügersruh e. V.
              </span>

              <span>Größe: {garden.SIZE} m²</span><br/>
              <span>Schätzsumme: {garden.COST}</span><br/>
              <span>Jahreskosten: ca. {Math.ceil(0.50 * garden.SIZE + 110 + 98 + 3.10 + 50)} €</span>
              <p>{garden.INFO}</p>

              <div id="gallery" class="container mx-auto sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5" >
                {
                    _images.map(async (image) => (
                      <a href={image.src}
                        data-pswp-width={(await getImage({src: image, width: 1920})).attributes.width}
                        data-pswp-height={(await getImage({src: image, width: 1920})).attributes.height}
                        target="_blank"
                        class="px-2 py-2"
                      >
                        <Image
                          src={image}
                          alt={`Foto vom ${garden.ADDRESS}`}
                          width={450}
                          class={"rounded-md border-[1px] border-primary hover:border-secondary object-cover w-full grayscale-[50%] hover:grayscale-0 transition duration-300 ease-in-out aspect-[3/2]"}
                          loading="lazy"
                        /></a>
                    ))
                }
                </div>
            </Card>
          
        )})}
      </div>
    </section>
  <section class="mt-5 mb-12"> 
    <div class="container">
      <Accordion>
        <AccordionItem
            title="Wie viel kostet ein Garten?"
            variant="chevron"
            open
            >
            <p>
            Als einmalige Kosten ergeben sich neben der gutachterlich festgestellten Schätzsumme auch ein Gesellschafteranteil für die Stromgesellschaft in Höhe von 820 €. Weiterhin fallen jährlich eine Pachtgebühr in Höhe von 0,50 Cent pro Quadratmeter, ein Vereinsbeitrag in Höhe von 110 €, ein Beitrag zur Feuer-, Einbruch- und Diebstahlversicherung (FED) in Höhe von 98 €, ein Beitrag zur Unfallversicherung in Höhe von 3,10 € und eine Stromvorauszahlung in Höhe von 50 € bzw. Stromkosten je nach Verbrauch an.
            </p>
          </AccordionItem>
          <AccordionItem
            title="Wie kann ich mich auf einen Garten bewerben?"
            variant="chevron"
            >
            <p>
              Hierzu kannst du das bereitgestellte <a href="/kontakt">Kontaktaktformular</a> mit dem Kontaktgrund "Bewerbung" verwenden. Alle 119 Gärten finden sich im <a href="/files/Lageplan.png">Lageplan des Kleingärtnevereins Krügersruh e. V.</a> wieder. Bitte wende dich zur Vereinbarung eines Besichtigungstermins oder zur Klärung weiterer Fragen an den Vorstandsvorsitzenden Uwe Metz unter +4917681221787.
            </p>
          </AccordionItem>
        </Accordion>
    </div>
  </section>
</DefaultLayout>

<style>
  .garden {
    pointer-events: none;
  }


</style>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  let lightbox: PhotoSwipeLightbox;

  document.addEventListener("astro:page-load", () => {
    lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
  });

  document.addEventListener("astro:before-swap", () => {
    lightbox.destroy();
  });


</script>